html, body {
  height: 100%;
  margin: 0;
  overflow:hidden;
}
body{
background-color:#0d0c0cf1;
}
.pr-form {
display: grid;
grid-template-columns: 1fr 1fr;
}
#logo-img2{
width: 100%;
height: 100%;
   animation: slide 1s ease-in-out;
}
#log-in{
padding-top:20px;
border-radius:20px;
background-color:rgba(255, 255, 255, 0.582);
box-shadow:0px 1px 3px 1px;
width:400px;
display: flex;
flex-direction:column;
justify-self: end;
margin-right:50px;
align-items:center;
margin-top:40px
}
.head-of-form{
line-height:0.2
}
.head-of-form h5{
text-align:center
}
.login{
display:flex;
flex-direction:column;
gap:10px;
}
.login label{
font-size:13.5px;
}
.login{
font-size:13.5px;
}
.login input{
height:30px;
border-radius:1px;
outline:none;
border:none;
border-radius:10px;
box-shadow:0px 1px 1px 1px #D4EDF9;
width:350px
}
.login button{
background-color:#ADD8E6;
padding:5px;
border-radius:10px;
color:#1E3A8A;
cursor:pointer
}
#log-in {
   animation: slide 1s ease-in-out;
}
@keyframes slide{
  0%{
    transform:translateX(100px);
    opacity:0;
    }
  100%{
    transform:translateX(0px);
    opacity:1;
    }
}
@keyframes logo{
  0%{
    transform:translateX(100px);
    opacity:0;
    }
  100%{
    transform:translateX(0px);
    opacity:1;
    }
}


@media (max-width: 1024px) {

  .pr-form {
    grid-template-columns: 1fr;
  }

  #logo-img2 {
    height: 300px;
    object-fit: contain;
  }

  #log-in {
    width: 90%;
    margin: 30px auto 0;
    justify-self: center;
  }

  .login input {
    width: 100%;
  }
}

@media (max-width: 768px) {

  html, body {
    overflow: auto;
  }

  .pr-form {
    grid-template-columns: 1fr;
  }

  #logo-img2 {
    display: none;
  }

  #log-in {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
  }

  .login input {
    width: 100%;
  }
}


@media (max-width: 480px) {

  #log-in {
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
  }

  .login label,
  .login {
    font-size: 13px;
  }

  .login button {
    padding: 8px;
  }
}
